.coteiner_login {
    display: flex;
    width: 500px;
    height: 500px;
    margin: auto;
    flex-direction: column;
    align-content: baseline;
  
    justify-content: center;
    background-color: rgb(238, 241, 243);
    box-shadow: 3px 3px 3px 3px rgb(167, 167, 167);
    padding-top: 5px;
    margin-top: 20px;
    align-items: center;
    border: 1px solid rgb(168, 167, 167);
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    margin-bottom: 50px;
  }
  .form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
  }
  .tittle_login {
    font-size: 50px;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(39, 39, 39);
  }
  .input_text_user {
    box-shadow: 1px 1px 1px 1px rgb(167, 167, 167);
    border: none;
    width: 80%;
    height: 55px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 10px;
  }
  .input_text_pw {
    box-shadow: 1px 1px 1px 1px rgb(167, 167, 167);
    border: none;
    width: 80%;
    height: 55px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .button_form {
    margin-top: 10px;
    height: 50px;
    width: 80%;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  .button_form:hover {
    background-color: #0d0d0d;
  }
  .pw_a {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #291ab6;
  }
  .pw_a:hover {
    color: #472bb8;
  }